.list {
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 40px;
	background-color: #312e81;
}

.el {
	display: inline-block;
	margin: 0px;
	height: 100%;
	box-sizing: border-box;
	margin-left: 5px;
}

.navbut {
	background-color:#4f46e5;
	max-width: 100%;
	height: 100%;
	margin: 0px;
	padding-bottom: 2px;
	color: white;
	border-width: 2px;
	border-color: #3730a3;
	box-shadow: none;
	border-style: solid;
	border-bottom: 0px;
	border-top: 0px;
}