.kart {
	display: inline-block;
	height: 100px;
	width: 23%;
	margin: 1%;
	opacity: 0.8;
}

.kartbut {
	border: solid 4px;
	border-radius: 12px;
	border-color:  #312e81;
	background-color: #312e81;
	color: white;
	height: 100%;
	width: 100%;
	font-family: Arial;
	font-size: 24px;
	text-align: center;
}