*{
	font-family: Arial;
	background-color: #a5b4fc;
}


.sozlesme {
	border: 8px solid;
	border-radius: 8px;
	margin: 2% 10% 2% 10%;
	border-color: #e0e7ff;

}

.eks {
	background-color: #e0e7ff;
	text-align: center;
	margin: 0px;
	font-size: 20px;
	font-family: Times New Roman;
}

.sozbas {
	text-align: center;
	font-size: 24px;
}

.detay {
	border-top: 20px solid;
	border-color: #e0e7ff;
	background-color: #c7d2fe;
}

.ciz {
	border: 1px solid;
}